Project Title:
AI-Driven Landslide Prediction

Problem Statement:
Landslides are one of the most devastating natural disaster causing significant loss of life, damage to infrastructure, and disruption to communities especially in mountainous and hilly regions. This project aims to develop a AI/ML-based system that analyze rainfall patterns to predict the likelihood of landslides in vulnerable regions.

Description:
This project focuses on building a landslide prediction system using Artificial Intelligence and Machine Learning.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('catalog.csv')
print(df.head())

   id     date   time continent_code   country_name country_code  \
0  34   3/2/07  Night            NaN  United States           US
1  42  3/22/07    NaN            NaN  United States           US
2  56   4/6/07    NaN            NaN  United States           US
3  59  4/14/07    NaN            NaN         Canada           CA
4  61  4/15/07    NaN            NaN  United States           US

  state/province  population         city/town  distance  ...  \
0       Virginia       16000       Cherry Hill   3.40765  ...
1           Ohio       17288  New Philadelphia   3.33522  ...
2   Pennsylvania       15930       Wilkinsburg   2.91977  ...
3         Quebec       42786       Ch√¢teauguay   2.98682  ...
4       Kentucky        6903         Pikeville   5.66542  ...

                                 geolocation  hazard_type      landslide_type  \
0  (38.600900000000003, -77.268199999999993)    Landslide           Landslide
1  (40.517499999999998, -81.430499999999995)    Landslide           Landslide
2             (40.4377, -79.915999999999997)    Landslide           Landslide
3  (45.322600000000001, -73.777100000000004)    Landslide  Riverbank collapse
4  (37.432499999999997, -82.493099999999998)    Landslide           Landslide

  landslide_size   trigger storm_name injuries fatalities  \
0          Small      Rain        NaN      NaN        NaN
1          Small      Rain        NaN      NaN        NaN
2          Small      Rain        NaN      NaN        NaN
3          Small      Rain        NaN      NaN        NaN
4          Small  Downpour        NaN      NaN        0.0

                  source_name  \
0                  NBC 4 news
1              Canton Rep.com
2  The Pittsburgh Channel.com
3                   Le Soleil
4      Matthew Crawford (KGS)

                                         source_link
0      http://www.nbc4.com/news/11186871/detail.html
1  http://www.cantonrep.com/index.php?ID=345054&C...
2  https://web.archive.org/web/20080423132842/htt...
3  http://www.hebdos.net/lsc/edition162007/articl...
4                                                NaN

[5 rows x 23 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1693 non-null   int64
 1   date                  1690 non-null   object
 2   time                  629 non-null    object
 3   continent_code        164 non-null    object
 4   country_name          1693 non-null   object
 5   country_code          1693 non-null   object
 6   state/province        1692 non-null   object
 7   population            1693 non-null   int64
 8   city/town             1689 non-null   object
 9   distance              1692 non-null   float64
 10  location_description  551 non-null    object
 11  latitude              1692 non-null   float64
 12  longitude             1692 non-null   float64
 13  geolocation           1692 non-null   object
 14  hazard_type           1693 non-null   object
 15  landslide_type        1692 non-null   object
 16  landslide_size        1692 non-null   object
 17  trigger               1691 non-null   object
 18  storm_name            132 non-null    object
 19  injuries              515 non-null    float64
 20  fatalities            1446 non-null   float64
 21  source_name           872 non-null    object
 22  source_link           1593 non-null   object
dtypes: float64(5), int64(2), object(16)
memory usage: 304.3+ KB

In [5]:
df.describe()

,id,population,distance,latitude,longitude,injuries,fatalities
count,1693.000000,1.693000e+03,1692.000000,1692.000000,1692.000000,515.000000,1446.000000
mean,4145.027761,9.345940e+04,7.822695,27.715661,-86.883660,0.526214,1.459198
std,2236.741960,5.226016e+05,9.358256,14.206341,14.332811,3.427514,9.184653
min,34.000000,0.000000e+00,0.000030,-10.125800,-117.309200,0.000000,0.000000
25%,2330.000000,2.080000e+03,1.936360,14.085650,-92.646625,0.000000,0.000000
50%,4087.000000,5.785000e+03,4.538635,35.613200,-83.653000,0.000000,0.000000
75%,6098.000000,1.886700e+04,9.873865,39.546400,-78.851325,0.000000,0.000000
max,7541.000000,1.229419e+07,74.460970,45.425700,-45.601000,45.000000,280.000000

In [6]:
df.isnull().sum()

id                         0
date                       3
time                    1064
continent_code          1529
country_name               0
country_code               0
state/province             1
population                 0
city/town                  4
distance                   1
location_description    1142
latitude                   1
longitude                  1
geolocation                1
hazard_type                0
landslide_type             1
landslide_size             1
trigger                    2
storm_name              1561
injuries                1178
fatalities               247
source_name              821
source_link              100
dtype: int64